@*Comp229 MVC Final Project
    Mudrak  Patel : 300878960
    Javid Niftaliyeve : 300742916*@

@model IEnumerable<MVC_Project_Part1.Models.Menu_List>

@{
    ViewBag.Title = "Menu";
}

<div class="img-responsive menuPageWallpaper">
    <h2 class="col-md-offset-1 menuHeaderText">Menu</h2>
    <table class="table-hover table-bordered col-md-offset-2">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th></th>
        </tr>
        @*Loop through the database table and show data on the webpage generated*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ItemId }, new { @class = "btn btn-sm btn-info" })
                </td>
            </tr>
        }
    </table>
</div>